---
export const prerender = false;

import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer";
import Credits from "@components/Credits.astro";
import Header from "@components/Header.astro";

const response = await fetch("https://rcn.sh/api/spotify").then((res) =>
  res.json(),
);
const artists = response.artists as Artist[];
const recentTracks = response.recentTracks as Track[];

export type Track = {
  artists: {
    name: string;
    external_urls: {
      spotify: string;
    };
  }[];
  songUrl: string;
  title: string;
  album: {
    name: string;
    external_urls: {
      spotify: string;
    };
  };
  image: string;
};
export type Artist = {
  name: string;
  url: string;
  image: string;
};
---

<Layout title="rcn.sh • Music" image="https://rcn.sh/api/og.png?title=Music">
  <main
    class="text-[#c5c0b8] h-[100dvh] min-h-[100dvh] w-[100dvw] overflow-x-hidden py-8 flex flex-col"
    transition:animate="fade"
  >
    <Header />
    <section class="flex flex-col mx-2 my-4">
      <div>
        <h1 class="text-[#cbc8c2] text-2xl font-mono my-8 flex justify-center">
          Recently Played Tracks
        </h1>

        <div class="flex justify-center py-8">
          <div class="grid lg:grid-cols-3 gap-y-4 gap-x-4 grid-cols-1">
            {
              recentTracks.map(({ artists, album, songUrl, title, image }) => (
                <div class="flex flex-row items-center space-x-4">
                  <img src={image} alt={title} class="w-16 h-16" />
                  <div class="flex flex-col">
                    <a href={songUrl}>
                      <h3 class="font-semibold text-neutral-100">{title}</h3>
                    </a>
                    <p>
                      {artists.map(({ name, external_urls }, index) => (
                        <span>
                          <a href={external_urls.spotify}>{name}</a>
                          {index < artists.length - 1 ? ", " : ""}
                        </span>
                      ))}
                    </p>
                    <a href={album.external_urls.spotify}>{album.name}</a>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
      <h1
        class="text-[#cbc8c2] text-2xl font-semibold my-8 flex justify-center"
      >
        Top Artists
      </h1>

      <div class="flex justify-center">
        <div class="grid lg:grid-cols-3 gap-y-4 gap-x-4 grid-cols-1">
          {
            artists.map(({ name, url, image }) => (
              <div class="flex flex-row items-center space-x-4 px-2">
                <img src={image} alt={name} class="w-16 h-16" />
                <div class="flex flex-col">
                  <a href={url}>
                    <h3 class="font-semibold text-neutral-100">{name}</h3>
                  </a>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </section>
    <div class="mt-auto">
      <Footer client:only transition:persist>
        <Credits />
      </Footer>
    </div>
  </main>
</Layout>
