---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer";
import Credits from "@components/Credits.astro";
import MobileDrawer from "@components/Drawer";
import { MusicIcon } from "astro-feather";

const response = await fetch("https://rcn.sh/api/spotify").then((res) =>
  res.json(),
);
const artists = response.artists as Artist[];
const tracksMedium = response.tracksMedium as Track[];
const tracksShort = response.tracksShort as Track[];

export type Track = {
  artists: { name: string }[];
  songUrl: string;
  title: string;
  album: string;
  image: string;
};
export type Artist = {
  name: string;
  url: string;
  image: string;
};
---

<Layout title="rcn.sh | Music">
  <main
    class="text-[#c5c0b8] h-[100dvh] min-h-[100dvh] w-[100dvw] overflow-x-hidden py-8 flex flex-col"
    transition:animate="fade"
  >
    <header
      class="sticky inset-x-0 top-0 z-10 mx-auto flex h-12 w-full shrink-0 items-center overflow-hidden text-sm font-medium lg:hidden"
    >
      <div class="flex h-full w-full items-center px-3">
        <div class="flex w-full items-center justify-between gap-2">
          <div class="flex flex-1 items-center gap-1">
            <MobileDrawer client:only />
          </div>
        </div>
      </div>
    </header>
    <svg
      class="w-[40%] md:w-[30%] lg:w-[25%] xl:w-[15%] mx-auto justify-center flex-shrink-0"
      xmlns="http://www.w3.org/2000/svg"
      id="Layer_1"
      data-name="Layer 1"
      viewBox="100 350 900 450"
    >
      <g
        ><polygon
          points="947.67 500.78 902.38 579.22 857.08 657.67 766.48 657.67 811.77 579.22 857.07 500.78 766.48 500.78 721.19 579.22 675.88 657.67 585.3 657.67 630.59 579.22 539.99 579.22 585.28 500.78 675.88 500.78 675.88 500.76 721.17 422.31 902.38 422.31 902.38 422.33 947.67 500.78"
          class="fill-[#5b66af] stroke-0"></polygon><polygon
          points="494.7 500.78 449.41 579.22 494.7 657.67 494.7 657.69 404.1 657.69 404.1 657.67 358.81 579.22 404.1 500.78 313.52 500.78 268.23 579.22 222.92 657.69 132.33 657.69 177.62 579.24 177.64 579.22 222.93 500.78 268.23 422.33 268.23 422.31 539.99 422.31 494.7 500.78"
          class="fill-[#305b99]"></polygon></g
      ></svg
    >
    <section class="flex flex-col mx-2 my-4">
      <div>
        <h1
          class="text-[#cbc8c2] text-2xl font-semibold my-8 flex justify-center"
        >
          Top Tracks (Short Term)
        </h1>

        <div class="flex justify-center py-8">
          <div class="grid grid-cols-3 gap-y-4">
            {
              tracksShort.map(({ artists, album, songUrl, title, image }) => (
                <div class="flex flex-row items-center space-x-4">
                  <img src={image} alt={title} class="w-16 h-16" />
                  <div class="flex flex-col">
                    <a href={songUrl}>
                      <h3 class="font-semibold text-neutral-100">{title}</h3>
                    </a>
                    <p>{artists.map(({ name }) => name).join(", ")}</p>
                    <p>{album}</p>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
        <h1
          class="text-[#cbc8c2] text-2xl font-semibold my-8 flex justify-center"
        >
          Top Tracks (Medium Term)
        </h1>

        <div class="flex justify-center py-8">
          <div class="grid grid-cols-3 gap-y-4">
            {
              tracksMedium.map(({ artists, album, songUrl, title, image }) => (
                <div class="flex flex-row items-center space-x-4">
                  <img src={image} alt={title} class="w-16 h-16" />
                  <div class="flex flex-col">
                    <a href={songUrl}>
                      <h3 class="font-semibold text-neutral-100">{title}</h3>
                    </a>
                    <p>{artists.map(({ name }) => name).join(", ")}</p>
                    <p>{album}</p>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
      <h1
        class="text-[#cbc8c2] text-2xl font-semibold my-8 flex justify-center"
      >
        Top Artists
      </h1>

      <div class="flex justify-center">
        <div class="grid grid-cols-3 gap-y-4">
          {
            artists.map(({ name, url, image }) => (
              <div class="flex flex-row items-center space-x-4 px-2">
                <img src={image} alt={name} class="w-16 h-16" />
                <div class="flex flex-col">
                  <a href={url}>
                    <h3 class="font-semibold text-neutral-100">{name}</h3>
                  </a>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </section>
    <div class="mt-auto">
      <Footer client:only transition:persist>
        <Credits />
      </Footer>
    </div>
  </main>
</Layout>
